<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net452" />
  <package id="NLog" version="4.7.2" targetFramework="net452" />
  <package id="NLog.Config" version="4.7.2" targetFramework="net452" />
  <package id="NLog.Schema" version="4.7.2" targetFramework="net452" />
</packages>